language: go

notifications:
  email: false

env:
  global:
    - secure: "MLUKd5IFSmnkdLHsttrgMsJqi0E+NaXi5vGwP735yxrbw1GHQ98m7eIl9QIEE8bm6p/alqG/o2rM3M4YAylIoaOsdfd3IK1tODXsSlZ6OBd7UnEvTL+WLOfzeYtedfu1rzIDeWWN7CyUA3q/GOn4IUkFTmr2ZVkrMNhdADySuDI="
    - PATH=$HOME/gopath/bin:$PATH

before_install:
  - go get golang.org/x/tools/cmd/cover
  - go get golang.org/x/tools/cmd/goimports
  - go get golang.org/x/tools/cmd/vet
  - go get github.com/golang/lint/golint
  - go get github.com/mattn/goveralls

install:
  - go get ./...

before_script:
  - wget https://gist.github.com/mewmew/379014c9a2e6885e238d/raw/goclean.sh
  - chmod +x goclean.sh

script:
  - ./goclean.sh
